<p>Title: <%= @post.title%></p>
<p>by: <%= @post.author%></p>
<p>Post: <%= @post.body%></p>

<% unless @tags.empty? %>
    <h5>Tags:</h5>
    <ul>
    <% @tags.each do |tag| %>
      <li><a href='/tags/<%= tag.name %>'><%= tag.name %></a></li>
    <% end %>
    </ul>
<% else %>
    <h6>No tags.</h6>
<% end %>

Posted: <%= time_in_words(@post.post_time) %> 
        at <%= @post.created_at.hour %>:<%= @post.created_at.min %>
<br>
<br>
<a class='btn-delete' href="/posts/delete/<%= @post.id %>">Delete this post</a>