<p>Author: <h4><%= @post.author%></h4></p>
<p>Title: <h4><%= @post.title%></h4></p>
<p>Content: <h4><%= @post.body%></h4></p>

<% unless @tags.empty? %>
    <h6>Tags from this post:</h6>
    <ul>
    <% @tags.each do |tag| %>
      <li><a href='/tags/<%= tag.name %>'><%= tag.name %></a></li>
    <% end %>
    </ul>
<% else %>
    <h6>This post had no tags.</h6>
<% end %>
